{% extends "basico.html" %}
{% block principal %}
    <div>
        {% if errorRegistro is defined %}
        <p class="error">Nombre de usuario ya en uso. Intente con otro nombre de usuario.</p>
        {% endif %}
        {% if errorCampoVacio is defined %}
        <p class="error">Introduce todos los datos para hacer el registro.</p>
        {% endif %}

        {% if user is not defined %}
        
        <form action="/registrar" method="POST">
            <p>
                <label>Introduzca un nombre de usuario: </label>
                <input type="text" placeholder="Usuario" name="registerName" />
            </p>
            <p>
                <label>Introduzca una contraseña: </label>
                <input type="password" placeholder="Contraseña" name="registerPass" />
            </p>
            <p><button type="submit" >Registrar</button></p>    
        </form>
    {% else %}
        <p>Ya has iniciado sesión con un usuario.</p>
    {% endif %}
    
</div>
{% endblock %}
